@use '../../partials/fonts' as *;
@use '../../partials/mixins' as *;
@use '../../partials/globals' as *;
@use '../../partials/variables' as *;

.projects {
    background-color: $clr-dark;
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: none;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            cursor: pointer;
        }

        &__layout {
            margin-top: 1rem;
            display: flex;
            gap: 1rem;
        }

        &__logo {
            height: auto;
            width: 400px;
            display: flex;
        }

        &__logo--modal{
            height: auto;
            width: 400px;
            display: flex;
        }
        &__name {
            text-align: center;
            margin-top: .5rem;
            color: $clr-light;
            font-size: $fs-h3;
        }

        &__modal-name {
            font-size: $fs-h3;
            color: $clr-accent;
            margin-bottom: .5rem;
        }

        &__modal-detail {
            margin-top: .5rem;
            margin-left: 1rem;
        }
        &__modal-items {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
        }
        &__modal-item {
            list-style-type: none;
            width: 30px;
            height: 30px;
            fill: blue;
        }

        &__modal-progress {
            width: 18px;
            height: 18px;
            margin-left: .5rem;
        }
    }

.section__title--education {
        color: $clr-accent;
        font-size: $fs-h2;
    }


.section__title--projects {
    color: $clr-accent;
}