@use '../../partials/fonts' as *;
@use '../../partials/mixins' as *;
@use '../../partials/globals' as *;
@use '../../partials/variables' as *;

.home {
    //Home Container
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 8rem;
    margin-top: 8rem;
    position: relative;
    width: 100vw;
    height: 10rem;

}

.hero {
    // Contains Hey Im Nicolas and Role
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;

    &__portrait {
        width: 10.5rem;
        height: 10.5rem;
        border-radius: $border;
        margin-bottom: 20px;
        z-index: 2;
        position: absolute;
        transform: translate(-160%, -15%);

    }
}

.section__title--hero {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: flex-start;
    font-weight: 400;
    // background-color: red;
    color: black;
    margin-bottom: .5rem;
}

.section__title--name {
    font-size: 2rem;
    font-weight: 800;
    color: black;
}

.section__subtitle--hero {
    display: flex;
    color: silver;
    padding: 5px 10px;
    width: 29rem;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: $border;
    background: $clr-background;
    box-shadow: 10px 10px 10px #949494,
        -10px -10px 10px #ffffff;
    color: $clr-accent;
    letter-spacing: 2px;
}

strong {
    font-weight: $fw-bold;
}



.skills {
    background-color: $clr-dark;
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 25rem;
        gap: 1rem;
    }

    &__item {
        width: 5rem;
        height: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        width: 4rem;
        height: 4rem;
    }

    &__title {
        font-size: $fs-body;
        text-align: center;
        color: $clr-light;
        font-weight: 500;
    }
}

.section__title--skills {
    font-size: $fs-h2;
    color: $clr-accent;
    padding-bottom: 1rem;
    position: relative;
}

.section__title--skills::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: .5rem auto;
    background: lightblue;
    opacity: 0.25;
}

.btn {
        padding: 1.5em 5em;
        background: $clr-dark;
        border: none;
        border-radius: $border;
        color: #444;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: .2rem;
        text-align: center;
        outline: none;
        cursor: pointer;
        transition: .2s ease-in-out;
        color: $clr-accent;
        box-shadow: 
            10px 10px 20px  #202020,
            -10px -10px 20px #404040;
        
    }

    .btn:hover {
        box-shadow: -2px -2px 6px #404040,
            -2px -2px 4px #404040,
            2px 2px 2px #202020,
            2px 2px 4px #202020;
    }

    .btn:active {
        box-shadow: inset -2px -2px 6px #404040,
            inset -2px -2px 4px #404040,
            inset 2px 2px 2px #202020,
            inset 2px 2px 4px #202020;
    }
