@use '../../partials/fonts' as *;
@use '../../partials/mixins' as *;
@use '../../partials/globals' as *;
@use '../../partials/variables' as *;



.section__title {
    color: red;
    font-size: $fs-h2;
}

.section__subtitle {
    color: blue;
    font-size: $fs-h3;
}