@use '../../partials/fonts' as *;
@use '../../partials/mixins' as *;
@use '../../partials/globals' as *;
@use '../../partials/variables' as *;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    }
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%; 
    height: 60%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    z-index: 2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    &__layout {
        display: flex;
        flex-direction: column;
    }
    &__button {
        display: flex;
        
    }
  }