.header {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        padding-left: 1rem;
    }
    a {
        color: white;
    }
}