@use '../../partials/fonts' as *;
@use '../../partials/mixins' as *;
@use '../../partials/globals' as *;
@use '../../partials/variables' as *;




.header {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        padding-left: 1rem;
    }
    a {
        color: white;
    }
}